* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 202);
}

/*  --- Header Styles --- */

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2.1em;
    font-weight: lighter;
    margin: 20px auto 30px;
    text-align: center;
    width: 80%;
}

header div {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-around;
    margin: 10px auto;
    width: 80%;
}

/* --- Game Container Styles --- */

#game-container {
    display: flex;
    flex-direction: column;
}

/*  ---- Tile Styles ---- */

#tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
}
.tile {
    background-image: url("./assets/images/tile-background.jpeg");
    border-radius: 2px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    height: 40px;
    text-align: center;
    margin: 5px;
    width: 40px;
}
.letter {
    font-size: 1.4em;
    width: 80%;
    padding: 8px 0 0 12px;
}
.letter-value {
    font-size: 0.6em;
    padding: 28px 4px 0 0;
}

/* --- Form Styles --- */

form {
    font-size: 0.8em;
    margin: 10px auto;
    text-align: center;
    width: 60%;
}
input {
    margin: auto;
}
button {
    background: radial-gradient(rgb(76, 154, 223), rgb(2,117,216));
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

/* --- Word Bank Styles --- */

#word-bank {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}
#word-bank h3 {
    padding: 10px 0;
    text-align: center;
}
table, 
#word-bank h3 {
    margin: 0 auto;
}

/* --- Media Queries --- */

@media (min-width: 568px) {
    header div {
        width: 70%;
    }
    #tiles {
        width: 80%;
    }
    .tile {
        height: 60px;
        width: 60px;
    }
    .letter {
        font-size: 2em;
        width: 80%;
        padding: 12px 0 0 12px;
    }
    .letter-value {
        font-size: 0.9em;
        padding: 40px 5px 0 0;
    }
    form {
        font-size: 1em;
        width: 80%;
    }
    button {
        width: 25%;
    }
    #word-bank {
        width: 80%;
    }
}
@media (min-width: 768px) {
    header div {
        width: 60%;
    }
    form {
        width: 60%;
    }
    .tile {
        height: 70px;
        width: 70px;
    }
    .letter {
        font-size: 2.6em;
        padding: 12px 0 0 14px;
    }
    .letter-value {
        font-size: 1.1em;
        padding: 46px 5px 0 0;
    }
    button {
        width: 30%;
    }
    #word-bank {
        width: 60%;
    }
}
@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-size: 3.5em;
        padding-top: 30px;
        width: 72%;
    }
    header div {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 5px 0px;
        width: 28%;
    }
    header div p {
        font-size: 1em;
        padding: 8px;
    }

    #game-container {
        flex-direction: row;
        margin-top: 20px;
        padding: 20px 0;
    }
    #tiles-form-container  {
        width: 72%;
    }
    #tiles {
        margin: 30px auto;
        width: 90%;
    }
    .tile {
        height: 80px;
        width: 80px;
    }
    .letter {
        font-size: 3.1em;
        padding: 12px 0 0 14px;
    }
    .letter-value {
        font-size: 1.2em;
        padding: 52px 5px 0 0;
    }
    form {
        width: 90%;
    }
    #word-bank {
        margin-right: 10px;
        width: 28%;
    }
}