/* .scheduleContainer {
    border-style: solid;
    border-color: blue;
}

.row{
    border-width: 5px;
    border-color: blue;
    background-color: lightsteelblue;
}

.times{
    line-height: 2.5;
    font-size: 30px;
} */